<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">

    <div class="login-form col-md-12 center-block">
            <h2 class="text-center">Login usuario:</h2>       
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required="required" value="{{email::input}}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="required" value="{{password::input}}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" on-click="login">Log in</button>
            </div>       
    </div>

    <span hidden$="{{!isLogged}}">Usuario logado</span>
</body>
</html>  

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          idUser:{
            type: Number
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      login(){
        console.log("Funcion LOGIN");

        var loginData = {
          "email": this.email,
          "password": this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log(this.$.doLogin.body);
        console.log("Petición enviada");
      }

      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        this.idUser = data.detail.response.idUser;
        this.isLogged = true;    
        window.location="/user/"+this.idUser;    
      }

      showError(error){
        console.log("Recibido un error en la respuesta");
        console.log(error);
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
