<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
   <h2>Soy el receptor</h2>

   <h3>Este curso es {{course}}</h3>
   <h3>En el año {{year}}</h3>
   <input type="text" value="{{course::input}}"></input>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
  class ReceptorEvento extends Polymer.Element {
    static get is() { return 'receptor-evento'; }
    static get properties() {
      return {
        course: {
          type: String,
          observer: '_courseChanged'
        },
        year: {
          type: String
        }
      }
    }

    _courseChanged(newValue, oldvalue){
      console.log("El valor de course ha cambiado");
      console.log("El valor de course antiguo era: " + oldvalue);
      console.log("El valor de course nuevo es: " + newValue);
    }

    showData(data){
      console.log("Datos recibidos en el receptor");
      console.log(data);

      this.course = data.course;
      this.year = data.year;
    }
  }

   window.customElements.define(ReceptorEvento.is, ReceptorEvento);
 </script>
</dom-module>