<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">

    <div class="row">
      <h1 class="col-md-12">Visor de cuentas de usuario</h1>
      <template is="dom-repeat" items="{{accounts}}">
          <p> --> IBAN: <span>{{item.iBAN}}</span> :: SALDO: <span>{{item.BALANCE}}</span> €</p>
          <br>
      </template>

    </div>

    <iron-ajax
      auto=""
      id="getAccounts"    
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type:Number
          },
          accounts: {
            type: Array
          }
        };
      }

      showError(error){
        console.log("Recibido un error en la respuesta");
        console.log(error);
      }

      showData(data){
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }      
    }  

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
