<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">

    <div class="row">
      <h1 class="col-md-12">Visor usuario</h1>
      <h2 class="col-md-5">Soy {{first_name}} {{last_name}}</h2>
      <h2 class="col-md-5">con email {{email}}</h2> 
      <a class="btn btn-primary" href="/user/{{id}}/accounts" role="button">Ver mis cuentas</a>
      <a class="btn btn-secondary" href="/logout/{{id}}" role="button">Logout</a>
    </div>

    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          }
        };
      }

      showData(data){
        console.log(data.detail.response);

        var user = data.detail.response[0];

        this.first_name = user.first_name;
        this.last_name = user.last_name;
        this.email = user.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
