<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">

<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
      display: block;
      }
    </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">

    <h1>Soy el gestor</h1>

    <emisor-evento on-myevent="processEvent"></emisor-evento>    
    <receptor-evento id="receiver"></receptor-evento>

  </template>

  <script>
    /**
    * @customElement
    * @polymer
    */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {};
      }

      processEvent(e) {
        console.log("Capturado evento del emisor");
        console.log(e);

        this.$.receiver.course = e.detail.course;
        this.$.receiver.year = e.detail.year;
      }
    }

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>